<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To-Do List{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div>
            <h1>To-Do List Application</h1>
            <nav>   
                <a href="{{ url_for('task.view_tasks') }}">Home</a>
                {% if 'user' in session %}
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                    <a href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <div class="container">
            <p>copy:{{2026}}My Flask To Do Application</p>
        </div>
    </footer>
    
</body>
</html>